.gen-1 {
    line-height: 110%;
}

.ts-1 {
    border: none;
    height: 1229px;
    position: relative;
    text-align: left;
    width: 2240px;
}

.ts-1-1 {
    border: none;
    height: 4px;
    left: 0px;
    line-height: 4px;
    padding: 0px;
    position: absolute;
    top: 0px;
    width: 2239px;
}

.gen-2 {
    vertical-align: middle;
}

.ts-1-2 {
    border: none;
    height: 4px;
    left: 2239px;
    line-height: 4px;
    padding: 0px;
    position: absolute;
    top: 0px;
    width: 1px;
}

.ts-1-3 {
    border: none;
    height: 1224px;
    left: 0px;
    line-height: 1224px;
    padding: 0px;
    position: absolute;
    top: 4px;
    width: 6px;
}

.ts-1-4 {
    border: none;
    height: 26px;
    left: 6px;
    line-height: 26px;
    padding: 0px;
    position: absolute;
    top: 4px;
    width: 586px;
}

.ts-1-5 {
    border: none;
    height: 1224px;
    left: 592px;
    line-height: 1224px;
    padding: 0px;
    position: absolute;
    top: 4px;
    width: 6px;
}

.ts-1-6 {
    border: none;
    height: 26px;
    left: 598px;
    line-height: 26px;
    padding: 0px;
    position: absolute;
    top: 4px;
    width: 967px;
}

.ts-1-7 {
    border: none;
    height: 1195px;
    left: 1565px;
    line-height: 1195px;
    padding: 0px;
    position: absolute;
    top: 4px;
    width: 7px;
}

.ts-1-8 {
    border: none;
    height: 26px;
    left: 1572px;
    line-height: 26px;
    padding: 0px;
    position: absolute;
    top: 4px;
    width: 664px;
}

.ts-1-9 {
    border: none;
    height: 1224px;
    left: 2236px;
    line-height: 1224px;
    padding: 0px;
    position: absolute;
    top: 4px;
    width: 3px;
}

.ts-1-10 {
    border: none;
    height: 26px;
    left: 2239px;
    line-height: 26px;
    padding: 0px;
    position: absolute;
    top: 4px;
    width: 1px;
}

.ts-1-11 {
    border: none;
    height: 5px;
    left: 6px;
    line-height: 5px;
    padding: 0px;
    position: absolute;
    top: 30px;
    width: 113px;
}

.ts-1-12 {
    border: none;
    height: 5px;
    left: 119px;
    line-height: 5px;
    padding: 0px;
    position: absolute;
    top: 30px;
    width: 473px;
}

.ts-1-13 {
    border: none;
    height: 5px;
    left: 598px;
    line-height: 5px;
    padding: 0px;
    position: absolute;
    top: 30px;
    width: 92px;
}

.ts-1-14 {
    border: none;
    height: 5px;
    left: 690px;
    line-height: 5px;
    padding: 0px;
    position: absolute;
    top: 30px;
    width: 875px;
}

.ts-1-15 {
    border: none;
    height: 5px;
    left: 1572px;
    line-height: 5px;
    padding: 0px;
    position: absolute;
    top: 30px;
    width: 136px;
}

.ts-1-16 {
    border: none;
    height: 5px;
    left: 1708px;
    line-height: 5px;
    padding: 0px;
    position: absolute;
    top: 30px;
    width: 528px;
}

.ts-1-17 {
    border: none;
    height: 5px;
    left: 2239px;
    line-height: 5px;
    padding: 0px;
    position: absolute;
    top: 30px;
    width: 1px;
}

.ts-1-18 {
    border: none;
    height: 1164px;
    left: 6px;
    line-height: 1164px;
    padding: 0px;
    position: absolute;
    top: 35px;
    width: 582px;
}

.ts-1-19 {
    border: none;
    height: 1193px;
    left: 588px;
    line-height: 1193px;
    padding: 0px;
    position: absolute;
    top: 35px;
    width: 4px;
}

.ts-1-20 {
    border: none;
    height: 1139px;
    left: 598px;
    line-height: 1139px;
    padding: 0px;
    position: absolute;
    top: 35px;
    width: 941px;
}

.ts-1-21 {
    border: none;
    height: 1164px;
    left: 1539px;
    line-height: 1164px;
    padding: 0px;
    position: absolute;
    top: 35px;
    width: 26px;
}

.ts-1-22 {
    border: none;
    height: 1139px;
    left: 1572px;
    line-height: 1139px;
    padding: 0px;
    position: absolute;
    top: 35px;
    width: 641px;
}

.ts-1-23 {
    border: none;
    height: 38px;
    left: 2213px;
    line-height: 38px;
    padding: 0px;
    position: absolute;
    top: 35px;
    width: 23px;
}

.ts-1-24 {
    border: none;
    height: 38px;
    left: 2239px;
    line-height: 38px;
    padding: 0px;
    position: absolute;
    top: 35px;
    width: 1px;
}

.ts-1-25 {
    border: none;
    height: 1131px;
    left: 2213px;
    line-height: 1131px;
    padding: 0px;
    position: absolute;
    top: 73px;
    width: 23px;
}

.ts-1-26 {
    border: none;
    height: 1101px;
    left: 2239px;
    line-height: 1101px;
    padding: 0px;
    position: absolute;
    top: 73px;
    width: 1px;
}

.ts-1-27 {
    border: none;
    height: 25px;
    left: 598px;
    line-height: 25px;
    padding: 0px;
    position: absolute;
    top: 1174px;
    width: 941px;
}

.ts-1-28 {
    border: none;
    height: 30px;
    left: 1572px;
    line-height: 30px;
    padding: 0px;
    position: absolute;
    top: 1174px;
    width: 641px;
}

.ts-1-29 {
    border: none;
    height: 25px;
    left: 2239px;
    line-height: 25px;
    padding: 0px;
    position: absolute;
    top: 1174px;
    width: 1px;
}

.ts-1-30 {
    border: none;
    height: 29px;
    left: 6px;
    line-height: 29px;
    padding: 0px;
    position: absolute;
    top: 1199px;
    width: 582px;
}

.ts-1-31 {
    border: none;
    height: 29px;
    left: 598px;
    line-height: 29px;
    padding: 0px;
    position: absolute;
    top: 1199px;
    width: 60px;
}

.ts-1-32 {
    border: none;
    height: 29px;
    left: 658px;
    line-height: 29px;
    padding: 0px;
    position: absolute;
    top: 1199px;
    width: 881px;
}

.ts-1-33 {
    border: none;
    height: 29px;
    left: 1539px;
    line-height: 29px;
    padding: 0px;
    position: absolute;
    top: 1199px;
    width: 33px;
}

.ts-1-34 {
    border: none;
    height: 5px;
    left: 2239px;
    line-height: 5px;
    padding: 0px;
    position: absolute;
    top: 1199px;
    width: 1px;
}

.ts-1-35 {
    border: none;
    height: 24px;
    left: 1572px;
    line-height: 24px;
    padding: 0px;
    position: absolute;
    top: 1204px;
    width: 664px;
}

.ts-1-36 {
    border: none;
    height: 24px;
    left: 2239px;
    line-height: 24px;
    padding: 0px;
    position: absolute;
    top: 1204px;
    width: 1px;
}

.ts-1-37 {
    border: none;
    height: 1px;
    left: 0px;
    line-height: 1px;
    padding: 0px;
    position: absolute;
    top: 1228px;
    width: 6px;
}

.ts-1-38 {
    border: none;
    height: 1px;
    left: 6px;
    line-height: 1px;
    padding: 0px;
    position: absolute;
    top: 1228px;
    width: 113px;
}

.ts-1-39 {
    border: none;
    height: 1px;
    left: 119px;
    line-height: 1px;
    padding: 0px;
    position: absolute;
    top: 1228px;
    width: 469px;
}

.ts-1-40 {
    border: none;
    height: 1px;
    left: 588px;
    line-height: 1px;
    padding: 0px;
    position: absolute;
    top: 1228px;
    width: 4px;
}

.ts-1-41 {
    border: none;
    height: 1px;
    left: 592px;
    line-height: 1px;
    padding: 0px;
    position: absolute;
    top: 1228px;
    width: 6px;
}

.ts-1-42 {
    border: none;
    height: 1px;
    left: 598px;
    line-height: 1px;
    padding: 0px;
    position: absolute;
    top: 1228px;
    width: 60px;
}

.ts-1-43 {
    border: none;
    height: 1px;
    left: 658px;
    line-height: 1px;
    padding: 0px;
    position: absolute;
    top: 1228px;
    width: 32px;
}

.ts-1-44 {
    border: none;
    height: 1px;
    left: 690px;
    line-height: 1px;
    padding: 0px;
    position: absolute;
    top: 1228px;
    width: 849px;
}

.ts-1-45 {
    border: none;
    height: 1px;
    left: 1539px;
    line-height: 1px;
    padding: 0px;
    position: absolute;
    top: 1228px;
    width: 26px;
}

.ts-1-46 {
    border: none;
    height: 1px;
    left: 1565px;
    line-height: 1px;
    padding: 0px;
    position: absolute;
    top: 1228px;
    width: 7px;
}

.ts-1-47 {
    border: none;
    height: 1px;
    left: 1572px;
    line-height: 1px;
    padding: 0px;
    position: absolute;
    top: 1228px;
    width: 136px;
}

.ts-1-48 {
    border: none;
    height: 1px;
    left: 1708px;
    line-height: 1px;
    padding: 0px;
    position: absolute;
    top: 1228px;
    width: 505px;
}

.ts-1-49 {
    border: none;
    height: 1px;
    left: 2213px;
    line-height: 1px;
    padding: 0px;
    position: absolute;
    top: 1228px;
    width: 23px;
}

.ts-1-50 {
    border: none;
    height: 1px;
    left: 2236px;
    line-height: 1px;
    padding: 0px;
    position: absolute;
    top: 1228px;
    width: 3px;
}

.ts-1-51 {
    border: none;
    height: 1px;
    left: 2239px;
    overflow: hidden;
    padding: 0px;
    position: absolute;
    top: 1228px;
    width: 1px;
}