@charset "utf-8";

.left {
    width: 528px;
    height: 1164px;
}
.jiemian {
    width: 100%;
    height: 100%;
    -webkit-box-shadow: inset 0px 0px;
    box-shadow: inset 0px 0px;
}
.j1 {
    width: 100%;
    height: 100%;
}
.stock0 {
    position: absolute;
    width: 40px;
    height: 15px;
    margin-bottom: 0px;
    margin-top: 27px;
    margin-left: 27px;
    z-index: 2;
    visibility: visible;
}
.stock {
    position: absolute;
    width: 109px;
    height: 46px;
    margin-bottom: 0px;
    margin-top: 80px;
    margin-left: 79px;
	opacity: 0.1
}
.stock:hover {
    position: absolute;
    width: 108.5px;
    height: 47.5px;
    margin-bottom: 0px;
    margin-top: 78px;
    margin-left: 79px;
    opacity: 0.8;
    border: thin solid #7EA4C8;
    border-radius: 6px;
}
.Stock {
    width: 100%;
    height: 100%;
    z-index: 0;
    float: left;
}

.flow {
    width: 115px;
    height: 46px;
    position: absolute;
    margin-left: 82px;
    margin-top: 135px;
	opacity: 0.1
}
.flow:hover {
    width: 118px;
    height: 43px;
    position: absolute;
    margin-left: 77px;
    margin-top: 135px;
    border-radius: 6px;
    border: thin solid #7EA4C8;
    opacity: 0.8
}
.DV {
    width: 237px;
    height: 46px;
    position: absolute;
    margin-left: 79px;
    margin-top: 187px;
	opacity: 0.5
}

.DV:hover {
    width: 237.5px;
    height: 44px;
    position: absolute;
    margin-left: 78px;
    margin-top: 187px;
	border-radius: 6px;
    border: thin solid #7EA4C8;
    opacity: 0.8;

}

.Link {
    width: 96px;
    height: 46px;
    position: absolute;
    margin-left: 75px;
    margin-top: 236px;
	opacity: 0.1
}
.Link:hover {
    width: 96px;
    height: 44px;
    position: absolute;
    margin-left: 75.5px;
    margin-top: 236px;
	border-radius: 6px;
    border: thin solid #7EA4C8;
    opacity: 0.8;
}
.LINK {
    width: 100%;
    height: 100%;
}
.p {
    width: 163px;
    height: 46px;
    position: absolute;
    margin-left: 77px;
    margin-top: 288px;
	
}
.p:hover {
    width: 163.5px;
    height: 46px;
    position: absolute;
    margin-left: 76px;
    margin-top: 287px;
	border-radius: 6px;
    border: thin solid #7EA4C8;
    opacity: 0.8;
}
.img0 {
    width: 100%;
    height: 100%;
    visibility: hidden;
    /* [disabled]z-index: 2; */
}
.Right {
    width: 450px;
    height: 380px;
    left: 210px;
    top: 6px;
    position: absolute;
    -webkit-box-shadow: 0px 0px #000000;
    box-shadow: 0px 0px #000000;
    border-width: thick;
    border-color: #000000;
}
.Place {
    display: inline-block;
    width: 90px;
    height: 90px;
    margin-top: 100px;
    margin-left: 100px;
    /* [disabled]border: thin solid #000000; */
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;

}
.drag1 {
    opacity: 0.1;
	width: 17px;
	height: 15px;
}
